body{
    height: 100%;
    width: 100%;
}

.container-principal{
    height: 700px;
}

.div-contato{
background: black;
}

.lbl-titulo{
width: 100%;
color: yellow;
font-weight: bold;
}

.lbl-dado{
width: 100%;
color: white;
}

footer{
    text-align: center;
    height: 70px;
    background-color: gray;
        bottom:0;
    width:100%;
    
}

.footer{
    position: absolute;
}

.lbl-footer{
margin-top: 20px;
}

.container-funcionarios{
    min-height: 700px;
    width: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-funcionario{
    width: 350px;
    border: 1px solid #1b1b12;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.container-projetos{
    min-height: 700px;
    width: 80%;
    padding: 10px;
    /*border: 1px solid black;*/
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

select[readonly] {
    background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
    pointer-events: none;
    touch-action: none;
  }

.container-projeto{
    width: 500px;
    max-height: 700px;
    border: 1px solid #1b1b12;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    
}

.scroll-conteiner{
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: solid 1px black;
    max-height:500px;
    overflow-y: scroll;
}

.form-titulo{
    background-color: whitesmoke;
    text-align: center;
    
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.form-tabela{
    margin-top: 20px;
     
    max-height: 600px;
   overflow-y: scroll;
    margin-bottom: 20px;
}


.form-novo{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    color: rgb(23, 161, 23);
}

.badge-botao{
    padding: 4px;
}

.tabela-controle{
    padding: 3px;
    width: 10px;
}

.tabela-controle > a{
    color: black;
}

.tabela-controle-delete > a {
    padding: 3px;
    width: 10px;
    color: red;
    
}

.tabela-controle > a:hover{
    color: forestgreen;
}

.tabela-controle-delete > a:hover{
    color: rgb(190, 3, 3);
}

.btn-width{
    width: 49%;
}

.btn-voltar-width{
    width: 99%;
}


input{
    text-align: center;
}

select{
    text-align-last: center;
}


.alert {
    margin-top: 15px;
    text-align: center;
    
}

.alertSenha{
    display: none;
}


@media screen and (max-width: 500px){
    .form-tabela{
        overflow-x: scroll;
    }

    .container-projetos{
    	width: 95%;
    }
    
    
}

@media screen and (max-width: 350px){
    .form-tabela{
        overflow-x: scroll;
    }

    .container-projetos{
    	width: 95%;
    }

    .container-funcionario{
        width: 100%;
    }
    
    
}

@media screen and (max-width:800px){
	.container-projeto{
    	width: 95%;
    }	
    .container-funcionarios{
        width: 95%;
    }

    
    .esconder{
        display: none;
    }
}

@media screen and (min-width:1000px){
	.container-projeto{
    	width: 95%;
    }	
    .container-funcionarios{
        width: 95%;
    }

    
}


@media screen and (min-height:1000px){


    .container-projeto{
        max-height: 850px;
        
    }
    
    .scroll-conteiner{
        max-height:650px;
    }

    footer{
        position: absolute;
    }
}

@media screen and (min-height:1200px){


    .container-projeto{
        max-height: 1300px;
        
    }
    
    .scroll-conteiner{
        max-height:1000px;
    }

    footer{
        position: absolute;
    }
}


